<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Cookies</title>
</head>
<body>
    <form action="/setcookie" method="post">
        <p>Digite o conteúdo do cookie</p>
        <p><input type="text" name="c" id="c"></p>
        <p><button type="submit">Enviar</button></p>
    </form>


</body>
</html>