<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python</title>
</head>
<body>
    <h1>XPython</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam animi neque impedit ratione, sed voluptates hic molestiae. Eligendi laudantium eaque ad necessitatibus aperiam minus expedita quod nihil autem tempora corporis, dolorum commodi unde repellat tenetur sed, dolor accusamus id pariatur qui architecto eum? Facere ratione non error ipsa fuga aperiam sed enim quisquam a voluptatibus. Illum soluta, tempore eos sit illo at minima ipsam sunt asperiores, facere fugiat magnam necessitatibus quia, suscipit inventore dicta. Qui similique aperiam numquam animi porro culpa architecto dignissimos fugit veniam, alias iure unde autem amet quibusdam voluptas pariatur nostrum eligendi facere nobis officia cum aliquid!</p>
    <p><a href="/crud">Acessar o CRUD</a></p>
</body>
</html>